@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/*---break---*/
/* @custom-variant dark (&:is(.dark *)); */

/*순수 CSS 변수*/
:root {
  --background: #f8fafc;
  --foreground: #4890fa;
  /* color tokens */
  --color-black: #191c1e;
  --color-blue-100: #ecf0ff;
  --color-blue-200: #d7e3ff;
  --color-blue-300: #abc7ff;
  --color-blue-400: #7babff;
  --color-blue-500: #4890fa;
  --color-blue-600: #2375de;
  --color-blue-700: #005cba;
  --color-blue-800: #00458e;
  --color-blue-900: #002f65;
  --color-blue-1000: #001b3f;
  --color-blue-main: #4d94ff;
  --color-neutral-100: #f8fafc;
  --color-neutral-200: #f2f4f6;
  --color-neutral-300: #e2e8f0;
  --color-neutral-400: #94a3b8;
  --color-neutral-500: #475569;
  --color-pink-100: #ffecef;
  --color-pink-200: #ffd9e2;
  --color-pink-300: #ffb1c7;
  --color-pink-400: #ff84ac;
  --color-pink-500: #fd4c93;
  --color-pink-600: #d93179;
  --color-pink-700: #b90760;
  --color-pink-800: #8e0048;
  --color-pink-900: #650031;
  --color-pink-1000: #3f001c;
  --color-pink-main: #ff4d94;
  --color-white: #ffffff;
  --color-yellow-100: #ffefcf;
  --color-yellow-200: #ffdf90;
  --color-yellow-300: #eec13e;
  --color-yellow-400: #d0a622;
  --color-yellow-500: #b28c00;
  --color-yellow-600: #937300;
  --color-yellow-700: #755b00;
  --color-yellow-800: #584400;
  --color-yellow-900: #584400;
  --color-yellow-1000: #241a00;
  --color-yellow-main: #ffd14d;

  --color-linear-gradient: linear-gradient(45deg, #b90760 0%, #005cba);

  /* Text-size styles */
  --heading-100: 40px;
  --heading-200: 32px;
  --heading-300: 28px;
  --heading-400: 24px;
  --body-xl: 20px;
  --body-l: 18px;
  --body-m: 16px;
  --body-s: 14px;
  --caption: 12px;
  --button-m: 14px;
  --button-l: 16px;

  /* border radius styles */
  --radius-xs: 4px;
  --radius-s: 8px;
  --radius-m: 12px;
  --radius-l: 24px;
  --radius-xl: 9999px;

  /* spacing styles */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-r: 16px;
  --spacing-m: 24px;
  --spacing-l: 30px;
  --spacing-xl: 40px;
  /* --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0); 
   --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}
@media (max-width: 768px) {
  :root {
    --heading-100: 27px;
    --heading-200: 24px;
    --heading-300: 22px;
    --heading-400: 20px;
    --body-xl: 18px;
    --body-l: 16px;
    --body-m: 15px;
    /* --body-s: 14px;
    --caption: 12px;
    --button-m: 14px; */
    --button-l: 15px;

    /* --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-r: 16px; */
  --spacing-m: 15px;
  /* --spacing-l: 30px; */
  --spacing-xl: 30px
  }
}

/*테일윈드 테마 토큰*/
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* color styles */
  --color-icon: var(--color-neutral-500);
  --color-primary-dark: var(--color-pink-700);
  --color-primary-light: var(--color-pink-100);
  --color-primary: var(--color-pink-600);
  --color-secondary-light: var(--color-blue-100);
  --color-secondary: var(--color-blue-700);
  --color-text-main: var(--color-black);
  --color-text-sub: var(--color-neutral-500);
  --color-border-sub: var(--color-neutral-300);
  --color-border-main: var(--color-neutral-400);
  --color-gradient: var(--color-linear-gradient)
  /* --shadow-s:; */
  --shadow-m: 0 8px 30px 0 rgba(0, 0, 0, 0.04);
  --shadow-l: 0 20px 50px 0 rgba(0, 0, 0, 0.04);

  --font-sans: var(--font-paperlogy);

  /* Heading Styles(결합 기능) */
  --text-h1: var(--heading-100);
  --text-h1--font-weight: 700;
  --text-h1--line-height:1.2;

  --text-h2: var(--heading-200);
  --text-h2--font-weight: 600;

  --text-h3: var(--heading-300);
  --text-h3--font-weight: 600;

  --text-h4: var(--heading-400);
  --text-h4--font-weight: 600;

  /* Text Styles */
  --text-body-xl: var(--body-xl);
  --text-body-xl--font-weight: 400;

  --text-body-l: var(--body-l);
  --text-body-l--font-weight: 400;

  --text-body-m: var(--body-m);
  --text-body-m--font-weight: 400;

  --text-body-s: var(--body-s);
  --text-body-s--font-weight: 600;

  --text-button-l: var(--button-l); /* body-m 사이즈에 weight만 변경 */
  --text-button-l--font-weight: 500;

  --text-button-m: var(--button-m); /* body-m 사이즈에 weight만 변경 */
  --text-button-m--font-weight: 500;

  --text-caption: var(--caption);
  --text-caption--font-weight: 500;

  --radius-input: var(--radius-s);
  --radius-box: var(--radius-m);
  --radius-modal: var(--radius-l);
  --radius-button: var(--radius-xl);

  --spacing-card: var(--spacing-m);
  --spacing-modal: var(--spacing-xl);

  --animate-grow-width: grow-width 4s ease-out infinite ;

  @keyframes grow-width {
    0% {
      width: 0;
    }

    100% {
      width: 100%;
    }
  }

  /* --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar); 
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6) */
}

body {
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  color: var(--color-text-main);
}

@layer base {
  button {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed;
  }
  /* * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  } */
}

@layer components {
  .container-custom {
    @apply max-w-[1280px] w-full mx-auto px-8;
  }
  .box-custom {
    @apply w-[448px] max-w-[90%] relative rounded-modal bg-white p-10 overflow-auto
  }
}

.box-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to right,
    #e040a0,
    #7c52aa 50%,
    #0096cc
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f8fafc;
  }
}
/* 
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */